<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

<listeners>
<listener class-name="academy.ListenersClass"/>
<listener class-name="resources.ExtentReporterTestNGClass"/>

 </listeners>

<test name="Home Page Test 1">
      <classes>
      <class name="academy.HomePage"/>
       </classes>
       </test>
       
       <test name="Home Page Test 2">
       <classes>
      <class name="academy.HomePage2"/>
      </classes>
      </test>
      
  <test name="Validatig Navigation Bar">
  
    <classes>
      <class name="academy.ValidateNavigationBar"/>
      </classes>
       </test>
       
        <test name="Validating Title">
        <classes>
      <class name="academy.ValidateTitle"/>
    </classes>
  </test>

</suite>

